@font-face {
  font-family: 'ROKAF Sans';
  src: url('../fonts/ROKAF Sans Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: 'Pretendard', sans-serif;
  --font-header: 'ROKAF Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0px;
}

.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 10px;
  background-color: #fafafa;
  top: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 200px;
  flex-grow: 1;
}

.logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.brand-name {
  color: #3692FF;
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 24px;
}

.login-link {
  margin-right: 200px;
  display: flex;
  align-items: center; /* Ensures the button stays vertically aligned */
}

.login-btn {
  font-family: inherit;
  width: 8rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #3692FF;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}
