@font-face {
  font-family: 'ROKAF Sans';
  src: url('../fonts/ROKAF Sans Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: 'Pretendard', sans-serif;
  --font-header: 'ROKAF Sans', sans-serif;
  --main-color: #3692FF;
}

body {
  font-family: var(--font-primary);
  margin: 0px;
}

h1 {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #374151;
}

h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 2rem;
  color: #374151;
}

.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 10px;
  background-color: #fafafa;
  top: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.brand-name {
  color: var(--main-color);
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 1.6rem;
}

.login-link {
  margin-right: 200px;
  display: flex;
  align-items: center; 
  flex-shrink: 0;
  text-decoration: none;
}

.login-btn {
  border-style: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 3rem;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: #F3F4F6;
  cursor: pointer;
  text-align: center;
}

@media (width < 1920px) {
  .logo-container {
    margin-left: clamp(20px, 200px, 200px);
  }

  .login-link {
    margin-right: clamp(20px, 200px, 200px);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-top {
  display: flex;
  justify-content: center;
  background: #CFE5FF;
  height: 540px;
}

.section-top-container {
  display: flex;
  margin: 200px 405px 0px;
}


.section-top-left {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 40px;
}

.section-top-left h1{
  margin-right: 62px;
  margin-bottom: 32px;
}

.cta-link {
  text-decoration: none;
}

.cta-btn {
  width: 357px;
  height: 56px;
  color: #F3F4F6;
  background-color: var(--main-color);
  border-radius: 40px;
  gap: 10px;
  border-style: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  padding: 12px 124px;
}

.section-middle {
  display: flex;
  flex-direction: column;
}

.section-middle-item {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.section-item-container {
  display: flex;
  margin: 138px 466px;
  width: 988px;
  height: 444px;
}

.section-img {

}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 103px 31px 103px 64px;
  width: 274px;
}

.text-container p {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--main-color);
  margin-bottom: 12px;
}

.text-container h1 {
  margin-right: 52px;
  margin-bottom: 24px;
}

/* .text-container:nth-child(2) {
  margin: 103px 64px 103px 9.5px;
} */

.section-middle-item:nth-child(2) .section-item-container {
  flex-direction: row-reverse;
}

.section-middle-item:nth-child(2) .text-container {
  margin: 103px 64px 103px 9.5px;
  align-items: end;
  width: 317px;
}

.section-middle-item:nth-child(2) .text-container h1,
.section-middle-item:nth-child(2) .text-container h2 {
  margin-right: 0px;
  margin-left: 29px;
  text-align: right;
}

.section-middle-item:nth-child(3) .text-container {
  width: 335px;
}

.section-bottom {
  height: 540px;
}

.footer {
  height: 160px;
}