@font-face {
  font-family: 'ROKAF Sans';
  src: url('../assets/fonts/ROKAF Sans Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: 'Pretendard', sans-serif;
  --font-header: 'ROKAF Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0px;
}

h1 {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}
.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 10px;
  background-color: #fafafa;
  top: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.brand-name {
  color: #3692FF;
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 1.6rem;
}

.login-link {
  margin-right: 200px;
  display: flex;
  align-items: center; 
  flex-shrink: 0;
  text-decoration: none;
}

.login-btn {
  border-style: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #3692FF;
  color: white;
  cursor: pointer;
  text-align: center;
}

@media (width < 1920px) {
  .logo-container {
    margin-left: clamp(20px, 200px, 200px);
  }

  .login-link {
    margin-right: clamp(20px, 200px, 200px);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-top {
  display: flex;
  justify-content: center;
  background: #CFE5FF;
  height: 540px;
}

.section-top-container {
  display: flex;
  margin: 200px 405px 0px;
}


.section-top-left {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 40px;
}

.section-middle {
  display: flex;
  flex-direction: column;
}

.section-middle-first {
  height: 720px;
}

.section-middle-second {
  height: 720px;
}

.section-middle-third {
  height: 720px;
}

.section-bottom {
  height: 540px;
}

.footer {
  height: 160px;
}